body{
    margin:0;
    padding:0;
}

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div{
    margin:10px;
    height:250px;
    position: relative;
    /* width:100%; */
    background-color:blanchedalmond;
}
div .content{
    position: absolute;
    left:25%;
}
img{
    position: relative;
    left:20%;
}
.link{
    position: relative;
    left:10%;
}