<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/post">
        <input type="text" placeholder="Username" name="name">
        <br>
        <br>
        <textarea placeholder="write Comment" name="content"></textarea>
        <br>
        <br>
        <input type="file" name="img">
        <button>Submit</button>
    </form>
</body>
</html>